body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #5c4b3c;
    text-align: center;
    padding: 20px;
    animation: colorPulse 5s infinite;
}

@keyframes colorPulse {
    0% { background-color: #5c4b3c; }
    50% { background-color: #937e6c; }
    100% { background-color: #5c4b3c; }
}

.animated-logo {
    width: 200px;
    height: auto;
    animation: spinLogo 4s linear infinite;
}

@keyframes spinLogo {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animated-button {
    background-color: #5c4b3c;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.animated-button:hover {
    background-color: #937e6c;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

video {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

video:hover {
    transform: scale(1.05);
}
